{
  "openapi": "3.0.3",
  "info": {
    "title": "Openstream Media Server API",
    "version": "0.1.0"
  },
  "servers": [
    {
      "url": "https://api.openstream.fm",
      "description": "Openstream production servers"
    }
  ],
  "security": [
    {
      "API Key": []
    }
  ],
  "paths": {
    "/accounts": {
      "get": {
        "parameters": [
          {
            "name": "user_id",
            "in": "query",
            "required": false,
            "style": "deepObject",
            "explode": true,
            "allowReserved": true,
            "schema": {
              "type": "string",
              "nullable": true
            }
          },
          {
            "name": "skip",
            "in": "query",
            "required": false,
            "style": "deepObject",
            "explode": true,
            "allowReserved": true,
            "schema": {
              "default": 0,
              "type": "integer",
              "format": "uint64",
              "minimum": 0
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "style": "deepObject",
            "explode": true,
            "allowReserved": true,
            "schema": {
              "default": 60,
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "show",
            "in": "query",
            "required": false,
            "style": "deepObject",
            "explode": true,
            "allowReserved": true,
            "schema": {
              "default": "active",
              "type": "string",
              "enum": [
                "all",
                "active",
                "deleted"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "items",
                    "limit",
                    "skip",
                    "total"
                  ],
                  "properties": {
                    "total": {
                      "type": "integer",
                      "format": "uint64",
                      "minimum": 0
                    },
                    "skip": {
                      "type": "integer",
                      "format": "uint64",
                      "minimum": 0
                    },
                    "limit": {
                      "type": "integer",
                      "format": "int64"
                    },
                    "items": {
                      "type": "array",
                      "items": {
                        "anyOf": [
                          {
                            "type": "object",
                            "required": [
                              "_id",
                              "created_at",
                              "limits",
                              "name",
                              "plan_id",
                              "system_metadata",
                              "updated_at",
                              "user_metadata"
                            ],
                            "properties": {
                              "_id": {
                                "type": "string"
                              },
                              "plan_id": {
                                "type": "string"
                              },
                              "payment_method_id": {
                                "type": "string",
                                "nullable": true
                              },
                              "name": {
                                "type": "string"
                              },
                              "limits": {
                                "type": "object",
                                "required": [
                                  "listeners",
                                  "stations",
                                  "storage",
                                  "transfer"
                                ],
                                "properties": {
                                  "stations": {
                                    "type": "object",
                                    "required": [
                                      "total",
                                      "used"
                                    ],
                                    "properties": {
                                      "used": {
                                        "type": "integer",
                                        "format": "uint64",
                                        "minimum": 0
                                      },
                                      "total": {
                                        "type": "integer",
                                        "format": "uint64",
                                        "minimum": 0
                                      }
                                    }
                                  },
                                  "listeners": {
                                    "type": "object",
                                    "required": [
                                      "total",
                                      "used"
                                    ],
                                    "properties": {
                                      "used": {
                                        "type": "integer",
                                        "format": "uint64",
                                        "minimum": 0
                                      },
                                      "total": {
                                        "type": "integer",
                                        "format": "uint64",
                                        "minimum": 0
                                      }
                                    }
                                  },
                                  "transfer": {
                                    "type": "object",
                                    "required": [
                                      "total",
                                      "used"
                                    ],
                                    "properties": {
                                      "used": {
                                        "type": "integer",
                                        "format": "uint64",
                                        "minimum": 0
                                      },
                                      "total": {
                                        "type": "integer",
                                        "format": "uint64",
                                        "minimum": 0
                                      }
                                    }
                                  },
                                  "storage": {
                                    "type": "object",
                                    "required": [
                                      "total",
                                      "used"
                                    ],
                                    "properties": {
                                      "used": {
                                        "type": "integer",
                                        "format": "uint64",
                                        "minimum": 0
                                      },
                                      "total": {
                                        "type": "integer",
                                        "format": "uint64",
                                        "minimum": 0
                                      }
                                    }
                                  }
                                }
                              },
                              "user_metadata": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "system_metadata": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "created_at": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "updated_at": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "deleted_at": {
                                "type": "string",
                                "format": "date-time",
                                "nullable": true
                              }
                            }
                          },
                          {
                            "type": "object",
                            "required": [
                              "_id",
                              "created_at",
                              "limits",
                              "name",
                              "plan_id",
                              "updated_at",
                              "user_metadata"
                            ],
                            "properties": {
                              "_id": {
                                "type": "string"
                              },
                              "plan_id": {
                                "type": "string"
                              },
                              "payment_method_id": {
                                "type": "string",
                                "nullable": true
                              },
                              "name": {
                                "type": "string"
                              },
                              "limits": {
                                "type": "object",
                                "required": [
                                  "listeners",
                                  "stations",
                                  "storage",
                                  "transfer"
                                ],
                                "properties": {
                                  "stations": {
                                    "type": "object",
                                    "required": [
                                      "total",
                                      "used"
                                    ],
                                    "properties": {
                                      "used": {
                                        "type": "integer",
                                        "format": "uint64",
                                        "minimum": 0
                                      },
                                      "total": {
                                        "type": "integer",
                                        "format": "uint64",
                                        "minimum": 0
                                      }
                                    }
                                  },
                                  "listeners": {
                                    "type": "object",
                                    "required": [
                                      "total",
                                      "used"
                                    ],
                                    "properties": {
                                      "used": {
                                        "type": "integer",
                                        "format": "uint64",
                                        "minimum": 0
                                      },
                                      "total": {
                                        "type": "integer",
                                        "format": "uint64",
                                        "minimum": 0
                                      }
                                    }
                                  },
                                  "transfer": {
                                    "type": "object",
                                    "required": [
                                      "total",
                                      "used"
                                    ],
                                    "properties": {
                                      "used": {
                                        "type": "integer",
                                        "format": "uint64",
                                        "minimum": 0
                                      },
                                      "total": {
                                        "type": "integer",
                                        "format": "uint64",
                                        "minimum": 0
                                      }
                                    }
                                  },
                                  "storage": {
                                    "type": "object",
                                    "required": [
                                      "total",
                                      "used"
                                    ],
                                    "properties": {
                                      "used": {
                                        "type": "integer",
                                        "format": "uint64",
                                        "minimum": 0
                                      },
                                      "total": {
                                        "type": "integer",
                                        "format": "uint64",
                                        "minimum": 0
                                      }
                                    }
                                  }
                                }
                              },
                              "created_at": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "updated_at": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "user_metadata": {
                                "type": "object",
                                "additionalProperties": true
                              },
                              "deleted_at": {
                                "type": "string",
                                "format": "date-time",
                                "nullable": true
                              }
                            }
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "description": "A client error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "5XX": {
            "description": "A server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name",
                  "plan_id"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "maxLength": 60,
                    "minLength": 1
                  },
                  "plan_id": {
                    "type": "string"
                  },
                  "user_id": {
                    "type": "string",
                    "nullable": true
                  },
                  "user_metadata": {
                    "type": "object",
                    "additionalProperties": true,
                    "nullable": true
                  },
                  "system_metadata": {
                    "type": "object",
                    "additionalProperties": true,
                    "nullable": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "A successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "account"
                  ],
                  "properties": {
                    "account": {
                      "anyOf": [
                        {
                          "type": "object",
                          "required": [
                            "_id",
                            "created_at",
                            "limits",
                            "name",
                            "plan_id",
                            "system_metadata",
                            "updated_at",
                            "user_metadata"
                          ],
                          "properties": {
                            "_id": {
                              "type": "string"
                            },
                            "plan_id": {
                              "type": "string"
                            },
                            "payment_method_id": {
                              "type": "string",
                              "nullable": true
                            },
                            "name": {
                              "type": "string"
                            },
                            "limits": {
                              "type": "object",
                              "required": [
                                "listeners",
                                "stations",
                                "storage",
                                "transfer"
                              ],
                              "properties": {
                                "stations": {
                                  "type": "object",
                                  "required": [
                                    "total",
                                    "used"
                                  ],
                                  "properties": {
                                    "used": {
                                      "type": "integer",
                                      "format": "uint64",
                                      "minimum": 0
                                    },
                                    "total": {
                                      "type": "integer",
                                      "format": "uint64",
                                      "minimum": 0
                                    }
                                  }
                                },
                                "listeners": {
                                  "type": "object",
                                  "required": [
                                    "total",
                                    "used"
                                  ],
                                  "properties": {
                                    "used": {
                                      "type": "integer",
                                      "format": "uint64",
                                      "minimum": 0
                                    },
                                    "total": {
                                      "type": "integer",
                                      "format": "uint64",
                                      "minimum": 0
                                    }
                                  }
                                },
                                "transfer": {
                                  "type": "object",
                                  "required": [
                                    "total",
                                    "used"
                                  ],
                                  "properties": {
                                    "used": {
                                      "type": "integer",
                                      "format": "uint64",
                                      "minimum": 0
                                    },
                                    "total": {
                                      "type": "integer",
                                      "format": "uint64",
                                      "minimum": 0
                                    }
                                  }
                                },
                                "storage": {
                                  "type": "object",
                                  "required": [
                                    "total",
                                    "used"
                                  ],
                                  "properties": {
                                    "used": {
                                      "type": "integer",
                                      "format": "uint64",
                                      "minimum": 0
                                    },
                                    "total": {
                                      "type": "integer",
                                      "format": "uint64",
                                      "minimum": 0
                                    }
                                  }
                                }
                              }
                            },
                            "user_metadata": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "system_metadata": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "created_at": {
                              "type": "string",
                              "format": "date-time"
                            },
                            "updated_at": {
                              "type": "string",
                              "format": "date-time"
                            },
                            "deleted_at": {
                              "type": "string",
                              "format": "date-time",
                              "nullable": true
                            }
                          }
                        },
                        {
                          "type": "object",
                          "required": [
                            "_id",
                            "created_at",
                            "limits",
                            "name",
                            "plan_id",
                            "updated_at",
                            "user_metadata"
                          ],
                          "properties": {
                            "_id": {
                              "type": "string"
                            },
                            "plan_id": {
                              "type": "string"
                            },
                            "payment_method_id": {
                              "type": "string",
                              "nullable": true
                            },
                            "name": {
                              "type": "string"
                            },
                            "limits": {
                              "type": "object",
                              "required": [
                                "listeners",
                                "stations",
                                "storage",
                                "transfer"
                              ],
                              "properties": {
                                "stations": {
                                  "type": "object",
                                  "required": [
                                    "total",
                                    "used"
                                  ],
                                  "properties": {
                                    "used": {
                                      "type": "integer",
                                      "format": "uint64",
                                      "minimum": 0
                                    },
                                    "total": {
                                      "type": "integer",
                                      "format": "uint64",
                                      "minimum": 0
                                    }
                                  }
                                },
                                "listeners": {
                                  "type": "object",
                                  "required": [
                                    "total",
                                    "used"
                                  ],
                                  "properties": {
                                    "used": {
                                      "type": "integer",
                                      "format": "uint64",
                                      "minimum": 0
                                    },
                                    "total": {
                                      "type": "integer",
                                      "format": "uint64",
                                      "minimum": 0
                                    }
                                  }
                                },
                                "transfer": {
                                  "type": "object",
                                  "required": [
                                    "total",
                                    "used"
                                  ],
                                  "properties": {
                                    "used": {
                                      "type": "integer",
                                      "format": "uint64",
                                      "minimum": 0
                                    },
                                    "total": {
                                      "type": "integer",
                                      "format": "uint64",
                                      "minimum": 0
                                    }
                                  }
                                },
                                "storage": {
                                  "type": "object",
                                  "required": [
                                    "total",
                                    "used"
                                  ],
                                  "properties": {
                                    "used": {
                                      "type": "integer",
                                      "format": "uint64",
                                      "minimum": 0
                                    },
                                    "total": {
                                      "type": "integer",
                                      "format": "uint64",
                                      "minimum": 0
                                    }
                                  }
                                }
                              }
                            },
                            "created_at": {
                              "type": "string",
                              "format": "date-time"
                            },
                            "updated_at": {
                              "type": "string",
                              "format": "date-time"
                            },
                            "user_metadata": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "deleted_at": {
                              "type": "string",
                              "format": "date-time",
                              "nullable": true
                            }
                          }
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "description": "A client error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "5XX": {
            "description": "A server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/accounts/{account}": {
      "delete": {
        "parameters": [
          {
            "name": "account",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "type": "object",
                      "required": [
                        "_id",
                        "created_at",
                        "limits",
                        "name",
                        "plan_id",
                        "system_metadata",
                        "updated_at",
                        "user_metadata"
                      ],
                      "properties": {
                        "_id": {
                          "type": "string"
                        },
                        "plan_id": {
                          "type": "string"
                        },
                        "payment_method_id": {
                          "type": "string",
                          "nullable": true
                        },
                        "name": {
                          "type": "string"
                        },
                        "limits": {
                          "type": "object",
                          "required": [
                            "listeners",
                            "stations",
                            "storage",
                            "transfer"
                          ],
                          "properties": {
                            "stations": {
                              "type": "object",
                              "required": [
                                "total",
                                "used"
                              ],
                              "properties": {
                                "used": {
                                  "type": "integer",
                                  "format": "uint64",
                                  "minimum": 0
                                },
                                "total": {
                                  "type": "integer",
                                  "format": "uint64",
                                  "minimum": 0
                                }
                              }
                            },
                            "listeners": {
                              "type": "object",
                              "required": [
                                "total",
                                "used"
                              ],
                              "properties": {
                                "used": {
                                  "type": "integer",
                                  "format": "uint64",
                                  "minimum": 0
                                },
                                "total": {
                                  "type": "integer",
                                  "format": "uint64",
                                  "minimum": 0
                                }
                              }
                            },
                            "transfer": {
                              "type": "object",
                              "required": [
                                "total",
                                "used"
                              ],
                              "properties": {
                                "used": {
                                  "type": "integer",
                                  "format": "uint64",
                                  "minimum": 0
                                },
                                "total": {
                                  "type": "integer",
                                  "format": "uint64",
                                  "minimum": 0
                                }
                              }
                            },
                            "storage": {
                              "type": "object",
                              "required": [
                                "total",
                                "used"
                              ],
                              "properties": {
                                "used": {
                                  "type": "integer",
                                  "format": "uint64",
                                  "minimum": 0
                                },
                                "total": {
                                  "type": "integer",
                                  "format": "uint64",
                                  "minimum": 0
                                }
                              }
                            }
                          }
                        },
                        "user_metadata": {
                          "type": "object",
                          "additionalProperties": true
                        },
                        "system_metadata": {
                          "type": "object",
                          "additionalProperties": true
                        },
                        "created_at": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "updated_at": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "deleted_at": {
                          "type": "string",
                          "format": "date-time",
                          "nullable": true
                        }
                      }
                    },
                    {
                      "type": "object",
                      "required": [
                        "_id",
                        "created_at",
                        "limits",
                        "name",
                        "plan_id",
                        "updated_at",
                        "user_metadata"
                      ],
                      "properties": {
                        "_id": {
                          "type": "string"
                        },
                        "plan_id": {
                          "type": "string"
                        },
                        "payment_method_id": {
                          "type": "string",
                          "nullable": true
                        },
                        "name": {
                          "type": "string"
                        },
                        "limits": {
                          "type": "object",
                          "required": [
                            "listeners",
                            "stations",
                            "storage",
                            "transfer"
                          ],
                          "properties": {
                            "stations": {
                              "type": "object",
                              "required": [
                                "total",
                                "used"
                              ],
                              "properties": {
                                "used": {
                                  "type": "integer",
                                  "format": "uint64",
                                  "minimum": 0
                                },
                                "total": {
                                  "type": "integer",
                                  "format": "uint64",
                                  "minimum": 0
                                }
                              }
                            },
                            "listeners": {
                              "type": "object",
                              "required": [
                                "total",
                                "used"
                              ],
                              "properties": {
                                "used": {
                                  "type": "integer",
                                  "format": "uint64",
                                  "minimum": 0
                                },
                                "total": {
                                  "type": "integer",
                                  "format": "uint64",
                                  "minimum": 0
                                }
                              }
                            },
                            "transfer": {
                              "type": "object",
                              "required": [
                                "total",
                                "used"
                              ],
                              "properties": {
                                "used": {
                                  "type": "integer",
                                  "format": "uint64",
                                  "minimum": 0
                                },
                                "total": {
                                  "type": "integer",
                                  "format": "uint64",
                                  "minimum": 0
                                }
                              }
                            },
                            "storage": {
                              "type": "object",
                              "required": [
                                "total",
                                "used"
                              ],
                              "properties": {
                                "used": {
                                  "type": "integer",
                                  "format": "uint64",
                                  "minimum": 0
                                },
                                "total": {
                                  "type": "integer",
                                  "format": "uint64",
                                  "minimum": 0
                                }
                              }
                            }
                          }
                        },
                        "created_at": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "updated_at": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "user_metadata": {
                          "type": "object",
                          "additionalProperties": true
                        },
                        "deleted_at": {
                          "type": "string",
                          "format": "date-time",
                          "nullable": true
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "4XX": {
            "description": "A client error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "5XX": {
            "description": "A server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "get": {
        "parameters": [
          {
            "name": "account",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "account",
                    "is_owner"
                  ],
                  "properties": {
                    "is_owner": {
                      "type": "boolean"
                    },
                    "account": {
                      "anyOf": [
                        {
                          "type": "object",
                          "required": [
                            "_id",
                            "created_at",
                            "limits",
                            "name",
                            "plan_id",
                            "system_metadata",
                            "updated_at",
                            "user_metadata"
                          ],
                          "properties": {
                            "_id": {
                              "type": "string"
                            },
                            "plan_id": {
                              "type": "string"
                            },
                            "payment_method_id": {
                              "type": "string",
                              "nullable": true
                            },
                            "name": {
                              "type": "string"
                            },
                            "limits": {
                              "type": "object",
                              "required": [
                                "listeners",
                                "stations",
                                "storage",
                                "transfer"
                              ],
                              "properties": {
                                "stations": {
                                  "type": "object",
                                  "required": [
                                    "total",
                                    "used"
                                  ],
                                  "properties": {
                                    "used": {
                                      "type": "integer",
                                      "format": "uint64",
                                      "minimum": 0
                                    },
                                    "total": {
                                      "type": "integer",
                                      "format": "uint64",
                                      "minimum": 0
                                    }
                                  }
                                },
                                "listeners": {
                                  "type": "object",
                                  "required": [
                                    "total",
                                    "used"
                                  ],
                                  "properties": {
                                    "used": {
                                      "type": "integer",
                                      "format": "uint64",
                                      "minimum": 0
                                    },
                                    "total": {
                                      "type": "integer",
                                      "format": "uint64",
                                      "minimum": 0
                                    }
                                  }
                                },
                                "transfer": {
                                  "type": "object",
                                  "required": [
                                    "total",
                                    "used"
                                  ],
                                  "properties": {
                                    "used": {
                                      "type": "integer",
                                      "format": "uint64",
                                      "minimum": 0
                                    },
                                    "total": {
                                      "type": "integer",
                                      "format": "uint64",
                                      "minimum": 0
                                    }
                                  }
                                },
                                "storage": {
                                  "type": "object",
                                  "required": [
                                    "total",
                                    "used"
                                  ],
                                  "properties": {
                                    "used": {
                                      "type": "integer",
                                      "format": "uint64",
                                      "minimum": 0
                                    },
                                    "total": {
                                      "type": "integer",
                                      "format": "uint64",
                                      "minimum": 0
                                    }
                                  }
                                }
                              }
                            },
                            "user_metadata": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "system_metadata": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "created_at": {
                              "type": "string",
                              "format": "date-time"
                            },
                            "updated_at": {
                              "type": "string",
                              "format": "date-time"
                            },
                            "deleted_at": {
                              "type": "string",
                              "format": "date-time",
                              "nullable": true
                            }
                          }
                        },
                        {
                          "type": "object",
                          "required": [
                            "_id",
                            "created_at",
                            "limits",
                            "name",
                            "plan_id",
                            "updated_at",
                            "user_metadata"
                          ],
                          "properties": {
                            "_id": {
                              "type": "string"
                            },
                            "plan_id": {
                              "type": "string"
                            },
                            "payment_method_id": {
                              "type": "string",
                              "nullable": true
                            },
                            "name": {
                              "type": "string"
                            },
                            "limits": {
                              "type": "object",
                              "required": [
                                "listeners",
                                "stations",
                                "storage",
                                "transfer"
                              ],
                              "properties": {
                                "stations": {
                                  "type": "object",
                                  "required": [
                                    "total",
                                    "used"
                                  ],
                                  "properties": {
                                    "used": {
                                      "type": "integer",
                                      "format": "uint64",
                                      "minimum": 0
                                    },
                                    "total": {
                                      "type": "integer",
                                      "format": "uint64",
                                      "minimum": 0
                                    }
                                  }
                                },
                                "listeners": {
                                  "type": "object",
                                  "required": [
                                    "total",
                                    "used"
                                  ],
                                  "properties": {
                                    "used": {
                                      "type": "integer",
                                      "format": "uint64",
                                      "minimum": 0
                                    },
                                    "total": {
                                      "type": "integer",
                                      "format": "uint64",
                                      "minimum": 0
                                    }
                                  }
                                },
                                "transfer": {
                                  "type": "object",
                                  "required": [
                                    "total",
                                    "used"
                                  ],
                                  "properties": {
                                    "used": {
                                      "type": "integer",
                                      "format": "uint64",
                                      "minimum": 0
                                    },
                                    "total": {
                                      "type": "integer",
                                      "format": "uint64",
                                      "minimum": 0
                                    }
                                  }
                                },
                                "storage": {
                                  "type": "object",
                                  "required": [
                                    "total",
                                    "used"
                                  ],
                                  "properties": {
                                    "used": {
                                      "type": "integer",
                                      "format": "uint64",
                                      "minimum": 0
                                    },
                                    "total": {
                                      "type": "integer",
                                      "format": "uint64",
                                      "minimum": 0
                                    }
                                  }
                                }
                              }
                            },
                            "created_at": {
                              "type": "string",
                              "format": "date-time"
                            },
                            "updated_at": {
                              "type": "string",
                              "format": "date-time"
                            },
                            "user_metadata": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "deleted_at": {
                              "type": "string",
                              "format": "date-time",
                              "nullable": true
                            }
                          }
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "description": "A client error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "5XX": {
            "description": "A server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "patch": {
        "parameters": [
          {
            "name": "account",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "maxLength": 60,
                    "minLength": 1,
                    "nullable": true
                  },
                  "plan_id": {
                    "type": "string",
                    "nullable": true
                  },
                  "user_metadata": {
                    "type": "object",
                    "additionalProperties": true,
                    "nullable": true
                  },
                  "system_metadata": {
                    "type": "object",
                    "additionalProperties": true,
                    "nullable": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "A successful response",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "type": "object",
                      "required": [
                        "_id",
                        "created_at",
                        "limits",
                        "name",
                        "plan_id",
                        "system_metadata",
                        "updated_at",
                        "user_metadata"
                      ],
                      "properties": {
                        "_id": {
                          "type": "string"
                        },
                        "plan_id": {
                          "type": "string"
                        },
                        "payment_method_id": {
                          "type": "string",
                          "nullable": true
                        },
                        "name": {
                          "type": "string"
                        },
                        "limits": {
                          "type": "object",
                          "required": [
                            "listeners",
                            "stations",
                            "storage",
                            "transfer"
                          ],
                          "properties": {
                            "stations": {
                              "type": "object",
                              "required": [
                                "total",
                                "used"
                              ],
                              "properties": {
                                "used": {
                                  "type": "integer",
                                  "format": "uint64",
                                  "minimum": 0
                                },
                                "total": {
                                  "type": "integer",
                                  "format": "uint64",
                                  "minimum": 0
                                }
                              }
                            },
                            "listeners": {
                              "type": "object",
                              "required": [
                                "total",
                                "used"
                              ],
                              "properties": {
                                "used": {
                                  "type": "integer",
                                  "format": "uint64",
                                  "minimum": 0
                                },
                                "total": {
                                  "type": "integer",
                                  "format": "uint64",
                                  "minimum": 0
                                }
                              }
                            },
                            "transfer": {
                              "type": "object",
                              "required": [
                                "total",
                                "used"
                              ],
                              "properties": {
                                "used": {
                                  "type": "integer",
                                  "format": "uint64",
                                  "minimum": 0
                                },
                                "total": {
                                  "type": "integer",
                                  "format": "uint64",
                                  "minimum": 0
                                }
                              }
                            },
                            "storage": {
                              "type": "object",
                              "required": [
                                "total",
                                "used"
                              ],
                              "properties": {
                                "used": {
                                  "type": "integer",
                                  "format": "uint64",
                                  "minimum": 0
                                },
                                "total": {
                                  "type": "integer",
                                  "format": "uint64",
                                  "minimum": 0
                                }
                              }
                            }
                          }
                        },
                        "user_metadata": {
                          "type": "object",
                          "additionalProperties": true
                        },
                        "system_metadata": {
                          "type": "object",
                          "additionalProperties": true
                        },
                        "created_at": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "updated_at": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "deleted_at": {
                          "type": "string",
                          "format": "date-time",
                          "nullable": true
                        }
                      }
                    },
                    {
                      "type": "object",
                      "required": [
                        "_id",
                        "created_at",
                        "limits",
                        "name",
                        "plan_id",
                        "updated_at",
                        "user_metadata"
                      ],
                      "properties": {
                        "_id": {
                          "type": "string"
                        },
                        "plan_id": {
                          "type": "string"
                        },
                        "payment_method_id": {
                          "type": "string",
                          "nullable": true
                        },
                        "name": {
                          "type": "string"
                        },
                        "limits": {
                          "type": "object",
                          "required": [
                            "listeners",
                            "stations",
                            "storage",
                            "transfer"
                          ],
                          "properties": {
                            "stations": {
                              "type": "object",
                              "required": [
                                "total",
                                "used"
                              ],
                              "properties": {
                                "used": {
                                  "type": "integer",
                                  "format": "uint64",
                                  "minimum": 0
                                },
                                "total": {
                                  "type": "integer",
                                  "format": "uint64",
                                  "minimum": 0
                                }
                              }
                            },
                            "listeners": {
                              "type": "object",
                              "required": [
                                "total",
                                "used"
                              ],
                              "properties": {
                                "used": {
                                  "type": "integer",
                                  "format": "uint64",
                                  "minimum": 0
                                },
                                "total": {
                                  "type": "integer",
                                  "format": "uint64",
                                  "minimum": 0
                                }
                              }
                            },
                            "transfer": {
                              "type": "object",
                              "required": [
                                "total",
                                "used"
                              ],
                              "properties": {
                                "used": {
                                  "type": "integer",
                                  "format": "uint64",
                                  "minimum": 0
                                },
                                "total": {
                                  "type": "integer",
                                  "format": "uint64",
                                  "minimum": 0
                                }
                              }
                            },
                            "storage": {
                              "type": "object",
                              "required": [
                                "total",
                                "used"
                              ],
                              "properties": {
                                "used": {
                                  "type": "integer",
                                  "format": "uint64",
                                  "minimum": 0
                                },
                                "total": {
                                  "type": "integer",
                                  "format": "uint64",
                                  "minimum": 0
                                }
                              }
                            }
                          }
                        },
                        "created_at": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "updated_at": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "user_metadata": {
                          "type": "object",
                          "additionalProperties": true
                        },
                        "deleted_at": {
                          "type": "string",
                          "format": "date-time",
                          "nullable": true
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "4XX": {
            "description": "A client error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "5XX": {
            "description": "A server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/accounts/{account}/members": {
      "get": {
        "parameters": [
          {
            "name": "account",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "members"
                  ],
                  "properties": {
                    "members": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "_id",
                          "email",
                          "first_name",
                          "last_name",
                          "relation"
                        ],
                        "properties": {
                          "_id": {
                            "type": "string"
                          },
                          "email": {
                            "type": "string"
                          },
                          "first_name": {
                            "type": "string"
                          },
                          "last_name": {
                            "type": "string"
                          },
                          "relation": {
                            "type": "string",
                            "enum": [
                              "owner",
                              "staff"
                            ]
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "description": "A client error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "5XX": {
            "description": "A server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/accounts/{account}/members/{member}": {
      "delete": {
        "parameters": [
          {
            "name": "account",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "member",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "4XX": {
            "description": "A client error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "5XX": {
            "description": "A server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/accounts/{account}/members/{member}/set-role": {
      "post": {
        "parameters": [
          {
            "name": "account",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "member",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "role"
                ],
                "properties": {
                  "role": {
                    "type": "string",
                    "enum": [
                      "owner",
                      "staff"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "A successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "4XX": {
            "description": "A client error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "5XX": {
            "description": "A server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/accounts/{account}/stream-stats": {
      "get": {
        "parameters": [
          {
            "name": "account",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "stats"
                  ],
                  "properties": {
                    "stats": {
                      "type": "object",
                      "required": [
                        "last_24h",
                        "last_30d",
                        "last_7d",
                        "now"
                      ],
                      "properties": {
                        "now": {
                          "type": "object",
                          "required": [
                            "country_sessions",
                            "sessions"
                          ],
                          "properties": {
                            "sessions": {
                              "type": "number",
                              "format": "double"
                            },
                            "country_sessions": {
                              "type": "object",
                              "additionalProperties": {
                                "type": "number",
                                "format": "double"
                              }
                            }
                          }
                        },
                        "last_24h": {
                          "type": "object",
                          "required": [
                            "country_sessions",
                            "sessions"
                          ],
                          "properties": {
                            "sessions": {
                              "type": "number",
                              "format": "double"
                            },
                            "country_sessions": {
                              "type": "object",
                              "additionalProperties": {
                                "type": "number",
                                "format": "double"
                              }
                            }
                          }
                        },
                        "last_7d": {
                          "type": "object",
                          "required": [
                            "country_sessions",
                            "sessions"
                          ],
                          "properties": {
                            "sessions": {
                              "type": "number",
                              "format": "double"
                            },
                            "country_sessions": {
                              "type": "object",
                              "additionalProperties": {
                                "type": "number",
                                "format": "double"
                              }
                            }
                          }
                        },
                        "last_30d": {
                          "type": "object",
                          "required": [
                            "country_sessions",
                            "sessions"
                          ],
                          "properties": {
                            "sessions": {
                              "type": "number",
                              "format": "double"
                            },
                            "country_sessions": {
                              "type": "object",
                              "additionalProperties": {
                                "type": "number",
                                "format": "double"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "description": "A client error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "5XX": {
            "description": "A server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/accounts/{account}/stream-stats/{last-unitvalue}": {
      "get": {
        "parameters": [
          {
            "name": "account",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "last-unitvalue",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "stats"
                  ],
                  "properties": {
                    "stats": {
                      "type": "object",
                      "required": [
                        "country_sessions",
                        "sessions"
                      ],
                      "properties": {
                        "sessions": {
                          "type": "number",
                          "format": "double"
                        },
                        "country_sessions": {
                          "type": "object",
                          "additionalProperties": {
                            "type": "number",
                            "format": "double"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "description": "A client error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "5XX": {
            "description": "A server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/accounts/{account}/stream-stats/{last-unitvalue}/count": {
      "get": {
        "parameters": [
          {
            "name": "account",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "last-unitvalue",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "total"
                  ],
                  "properties": {
                    "total": {
                      "type": "integer",
                      "format": "uint",
                      "minimum": 0
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "description": "A client error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "5XX": {
            "description": "A server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/accounts/{account}/stream-stats/now": {
      "get": {
        "parameters": [
          {
            "name": "account",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "stats"
                  ],
                  "properties": {
                    "stats": {
                      "type": "object",
                      "required": [
                        "country_sessions",
                        "sessions"
                      ],
                      "properties": {
                        "sessions": {
                          "type": "number",
                          "format": "double"
                        },
                        "country_sessions": {
                          "type": "object",
                          "additionalProperties": {
                            "type": "number",
                            "format": "double"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "description": "A client error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "5XX": {
            "description": "A server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/accounts/{account}/stream-stats/now/count": {
      "get": {
        "parameters": [
          {
            "name": "account",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "total"
                  ],
                  "properties": {
                    "total": {
                      "type": "integer",
                      "format": "uint",
                      "minimum": 0
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "description": "A client error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "5XX": {
            "description": "A server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/accounts/{account}/stream-stats/now/count-by-station": {
      "get": {
        "parameters": [
          {
            "name": "account",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "by_station"
                  ],
                  "properties": {
                    "by_station": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "integer",
                        "format": "uint32",
                        "minimum": 0
                      }
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "description": "A client error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "5XX": {
            "description": "A server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/admins": {
      "get": {
        "parameters": [
          {
            "name": "skip",
            "in": "query",
            "required": false,
            "style": "deepObject",
            "explode": true,
            "allowReserved": true,
            "schema": {
              "default": 0,
              "type": "integer",
              "format": "uint64",
              "minimum": 0
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "style": "deepObject",
            "explode": true,
            "allowReserved": true,
            "schema": {
              "default": 60,
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "show",
            "in": "query",
            "required": false,
            "style": "deepObject",
            "explode": true,
            "allowReserved": true,
            "schema": {
              "default": "active",
              "type": "string",
              "enum": [
                "all",
                "active",
                "deleted"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "items",
                    "limit",
                    "skip",
                    "total"
                  ],
                  "properties": {
                    "total": {
                      "type": "integer",
                      "format": "uint64",
                      "minimum": 0
                    },
                    "skip": {
                      "type": "integer",
                      "format": "uint64",
                      "minimum": 0
                    },
                    "limit": {
                      "type": "integer",
                      "format": "int64"
                    },
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "_id",
                          "created_at",
                          "email",
                          "first_name",
                          "last_name",
                          "system_metadata",
                          "updated_at"
                        ],
                        "properties": {
                          "_id": {
                            "type": "string"
                          },
                          "first_name": {
                            "type": "string"
                          },
                          "last_name": {
                            "type": "string"
                          },
                          "email": {
                            "type": "string"
                          },
                          "system_metadata": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "created_at": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "updated_at": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "deleted_at": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "description": "A client error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "5XX": {
            "description": "A server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email",
                  "first_name",
                  "last_name",
                  "password"
                ],
                "properties": {
                  "first_name": {
                    "type": "string",
                    "maxLength": 100,
                    "minLength": 1
                  },
                  "last_name": {
                    "type": "string",
                    "maxLength": 100,
                    "minLength": 1
                  },
                  "email": {
                    "type": "string",
                    "maxLength": 100,
                    "minLength": 1
                  },
                  "password": {
                    "type": "string",
                    "maxLength": 60,
                    "minLength": 8
                  },
                  "system_metadata": {
                    "type": "object",
                    "additionalProperties": true,
                    "nullable": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "A successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "admin"
                  ],
                  "properties": {
                    "admin": {
                      "type": "object",
                      "required": [
                        "_id",
                        "created_at",
                        "email",
                        "first_name",
                        "last_name",
                        "system_metadata",
                        "updated_at"
                      ],
                      "properties": {
                        "_id": {
                          "type": "string"
                        },
                        "first_name": {
                          "type": "string"
                        },
                        "last_name": {
                          "type": "string"
                        },
                        "email": {
                          "type": "string"
                        },
                        "system_metadata": {
                          "type": "object",
                          "additionalProperties": true
                        },
                        "created_at": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "updated_at": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "deleted_at": {
                          "type": "string",
                          "format": "date-time",
                          "nullable": true
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "description": "A client error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "5XX": {
            "description": "A server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/admins/{admin}": {
      "get": {
        "parameters": [
          {
            "name": "admin",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "admin"
                  ],
                  "properties": {
                    "admin": {
                      "type": "object",
                      "required": [
                        "_id",
                        "created_at",
                        "email",
                        "first_name",
                        "last_name",
                        "system_metadata",
                        "updated_at"
                      ],
                      "properties": {
                        "_id": {
                          "type": "string"
                        },
                        "first_name": {
                          "type": "string"
                        },
                        "last_name": {
                          "type": "string"
                        },
                        "email": {
                          "type": "string"
                        },
                        "system_metadata": {
                          "type": "object",
                          "additionalProperties": true
                        },
                        "created_at": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "updated_at": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "deleted_at": {
                          "type": "string",
                          "format": "date-time",
                          "nullable": true
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "description": "A client error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "5XX": {
            "description": "A server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "patch": {
        "parameters": [
          {
            "name": "admin",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "first_name": {
                    "type": "string",
                    "maxLength": 100,
                    "minLength": 1,
                    "nullable": true
                  },
                  "last_name": {
                    "type": "string",
                    "maxLength": 100,
                    "minLength": 1,
                    "nullable": true
                  },
                  "system_metadata": {
                    "type": "object",
                    "additionalProperties": true,
                    "nullable": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "A successful response",
[...]
